<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>提交订单</title>
    <link rel="icon" href="../images/favico.ico">
    <script src="../js/base.js"></script>
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <link rel="stylesheet" href="../styles/add-order.css" />
</head>
<body>
    <div id="order" class="app">
        <div class="divHead">
            <div class="divTitle">
                <i class="el-icon-arrow-left" @click="goBack"></i>提交订单
            </div>
        </div>

        <div class="divBody">
            <div class="divAddress" @click="selectAddress">
                <div class="divIcon">
                    <img src="../images/location.png"/>
                </div>
                <div class="divInfo" v-if="address">
                    <div class="divTop">
                        <span class="spanName">{{ address.consignee }}</span>
                        <span class="spanPhone">{{ address.phone }}</span>
                    </div>
                    <div class="divAddressDetail">{{ address.detail }}</div>
                </div>
                <div class="divInfo" v-else>
                    <div class="divAddAddress">
                        <span>请添加收货地址</span>
                        <i class="el-icon-arrow-right"></i>
                    </div>
                </div>
                <i class="el-icon-arrow-right" v-if="address"></i>
            </div>

            <div class="divShop">
                <div class="divLogo"></div>
                <div class="divDesc">
                    <div class="divName">菩提阁</div>
                    <div class="divSend">
                        <span><img src="../images/location.png"/> 1.5km</span>
                        <span><img src="../images/time.png"/> 35分钟</span>
                    </div>
                </div>
            </div>

            <div class="divGoods">
                <div class="divTitle">订单商品</div>
                <div class="divGoodsList">
                    <div class="divGoodsItem" v-for="(item, index) in cartData" :key="index">
                        <el-image :src="imgPathConvert(item.image)" class="imgGoods">
                            <div slot="error" class="image-slot">
                                <img src="../images/noImg.png"/>
                            </div>
                        </el-image>
                        <div class="divItemInfo">
                            <div class="divName">{{ item.name }}</div>
                            <div class="divBottom">
                                <span class="spanPrice">￥{{ item.amount }}</span>
                                <span class="spanNum">x{{ item.number }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divRemark">
                <div class="divLabel">订单备注</div>
                <input type="text" class="inputRemark" v-model="remark" placeholder="选填，可填写您的特殊要求"/>
            </div>
        </div>

        <div class="divBottom">
            <div class="divTotal">
                <span>合计：</span>
                <span class="spanTotalPrice">￥{{ goodsPrice }}</span>
            </div>
            <div :class="['btnSubmit', { btnSubmitActive: canSubmit }]" @click="submitOrder">
                提交订单
            </div>
        </div>
    </div>

    <script src="../../backend/plugins/vue/vue.js"></script>
    <script src="../../backend/plugins/element-ui/index.js"></script>
    <script src="../js/vant.min.js"></script>
    <script src="../../backend/plugins/axios/axios.min.js"></script>
    <script src="../js/request.js"></script>
    <script src="../js/common.js"></script>
    <script src="../api/main.js"></script>
    <script src="../api/address.js"></script>
    <script src="../api/order.js"></script>

    <script>
        new Vue({
            el: "#order",
            data() {
                return {
                    address: null,
                    cartData: [],
                    remark: '',
                    submitting: false
                }
            },
            computed: {
                goodsPrice() {
                    let price = 0
                    if (this.cartData && this.cartData.length > 0) {
                        this.cartData.forEach(item => {
                            price += (Number(item.number) || 0) * (Number(item.amount) || 0)
                        })
                    }
                    return price.toFixed(2)
                },

                goodsNum() {
                    let num = 0
                    if (this.cartData && this.cartData.length > 0) {
                        this.cartData.forEach(item => {
                            num += Number(item.number) || 0
                        })
                    }
                    return num
                },

                canSubmit() {
                    return this.address && this.cartData && this.cartData.length > 0
                }
            },
            created() {
                this.initData()
            },
            methods: {
                async initData() {
                    await Promise.all([
                        this.getAddress(),
                        this.getCartData()
                    ])
                },

                async getAddress() {
                    try {
                        const res = await getDefaultAddressApi()
                        if (res.code === 1) {
                            this.address = res.data
                        } else {
                            this.$notify({ type: 'warning', message: res.msg || '获取地址失败' })
                        }
                    } catch (error) {
                        console.error('获取地址异常:', error)
                    }
                },

                async getCartData() {
                    try {
                        const res = await cartListApi()
                        if (res.code === 1) {
                            this.cartData = res.data || []
                        } else {
                            this.cartData = []
                        }
                    } catch (error) {
                        console.error('获取购物车异常:', error)
                        this.cartData = []
                    }
                },

                selectAddress() {
                    window.location.href = '/front/page/address.html?from=order'
                },

                goBack() {
                    window.location.href = '/front/index.html'
                },

                async submitOrder() {
                    if (!this.canSubmit) {
                        if (!this.address) {
                            this.$notify({ type: 'warning', message: '请先添加收货地址' })
                        } else {
                            this.$notify({ type: 'warning', message: '购物车为空' })
                        }
                        return
                    }

                    if (this.submitting) return
                    this.submitting = true

                    try {
                        const orderData = {
                            addressBookId: this.address.id,
                            remark: this.remark,
                            amount: this.goodsPrice,
                            detailList: this.cartData.map(item => ({
                                dishId: item.dishId || item.id,
                                name: item.name,
                                image: item.image,
                                amount: item.amount,
                                number: item.number
                            }))
                        }

                        const res = await addOrderApi(orderData)
                        if (res.code === 1) {
                            await clearCartApi()
                            this.$notify({ type: 'success', message: '下单成功' })
                            setTimeout(() => {
                                window.location.href = '/front/page/pay-success.html'
                            }, 1500)
                        } else {
                            this.$notify({ type: 'warning', message: res.msg || '下单失败' })
                        }
                    } catch (error) {
                        console.error('提交订单异常:', error)
                        this.$notify({ type: 'warning', message: '网络异常，请稍后重试' })
                    } finally {
                        this.submitting = false
                    }
                },

                imgPathConvert(path) {
                    return imgPath(path)
                }
            }
        })
    </script>
</body>
</html>